*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    height: 100%;
    overflow: hidden;
}

.score{
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.playground{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playground > ul{
    border: 1px solid #333;
    width: 250px;
}

.playground > ul > li{
    width: 100%;
    height: 25px;
    display: flex;
}

.playground > ul > li > div {
    width: 25px;
    height: 25px;
    outline: 1px solid #ccc;
}

/* blocks */
.tree{
    background: #67c23a;
}

.square{
    background: orange;
}

.bar{
    background: rebeccapurple;
}

.zee{
    background: aquamarine;
}

.corner{
    background: rosybrown;
}